
 <div class="wrapper">
  <div class="text-center mt-2 mb-3 name">Enter Email</div>
 
  <form class="p-1 mt-2" #userlogin="ngForm" (ngSubmit)="Verify()">
    <div class="form-field d-flex align-items-center">
     <i class="fa-solid fa-envelope"></i>
      <input
        type="email"
        name="email"
        id="userName"
        placeholder="Email"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [(ngModel)]="User.email"
        #email="ngModel"
        [class.is-invalid]="email.invalid"
        required
      />
      <small [class.d-none]="email.valid" class="px-3 text-danger">χ</small>
      <small [class.d-none]="email.invalid" class="px-3 text-success">✓</small>
    </div>
    <button class="btn mt-3 mb-1" [disabled]="userlogin.form.invalid">
      SUBMIT
    </button>
  </form>
 </div>
